/* Global */

$font-main: 'Open Sans', sans-serif;
$font-logo: 'Outfit', sans-serif;
$color-bright: #fff;
$color-dark: #576671;
$background: #EDEFF1;
$background-icon: #17DAA3;

*, *::after, *::before{
    box-sizing: border-box;
}
body{
    margin: auto;
}
.container{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}
.big{
    height: 100vh;
}
.small{
    height: 540px;
}
.btn{
    width: 200px;
    height: 50px;
    border-radius: 50px;
    a{
        font-size: 15px;
        color: $color-bright;
        text-decoration: none;
        font-family: $font-main;
        font-weight: bold;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center; 
    }
}
.section-title{
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: center;
    justify-content: center;
    font-family: $font-main;
    color: $color-dark;
    position: relative;
    h1{
        font-size: 60px;
        font-weight: lighter;
    }
    h3{
        font-weight: lighter;
    }
    &::after{
        display: block;
        position: absolute;
        content: '';
        width: 30px;
        height: 1px;
        background: $background-icon;
        top: 60%;
        left: 50%;
    }
}

.link{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    .btn-two{
    background-color: $background-icon;
    border: none;
    }
}

/* Splash */

.splash{
    background-image: url('../images/Photo.png');
}
.menu{
    display: flex;
    justify-content: space-between;
    height: 10%;
    h1{
        font-size: 30px;
        font-family: $font-logo;
        color: $color-bright;
        margin: 16px 0;
        span{
            color: #17DAA3;
        }
    }
    ul{
        display: flex;
        list-style: none;
        margin: 25px 0 0 0;
        li{
            margin: 0 30px 0 0;
            a{
                text-decoration: none;
                font-size: 15px;
                color: $color-bright;
                font-family: $font-logo;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
    }
}
.splash-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    color: $color-bright;
    font-family: $font-main;
    h1{
        font-size: 60px;
        margin: 0;
        font-weight: lighter;
        span:first-of-type{
            font-weight: 900;
        }
        span:last-of-type{
            text-transform: uppercase;
        }
    }
    h4{
        font-size: 20px;
    }
    .btn-one{
        margin: 50px 0 0 0;
        background-color: transparent;
        border: 2px solid $color-bright;   
    }
}

/* About */

.about-row{
    display: flex;
}
.about-col{
    flex: 0 0 25%;
    text-align: center;
    margin: 30px 0;
    min-height: 500px;
    i{
        font-size: 60px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: $background;
        text-align: center;
        line-height: 200px;
        color: #87949E;
        margin: 0 0 30px 0;
    }
    h4{
        font-size: 25px;
        font-family: $font-main;
    }
    .col-title-2{
        font-weight: lighter;
    }
    p{
        font-size: 18px;
        font-family: $font-main;
        color: $color-dark;
    }
    .icon-two{
        background: $background-icon;
        color: #fff;
    }
}

/* Offerts-1 */

.offerts-1{
    background: #EDEFF1;
}

.offerts-1-row{
    display: flex;
    width: 100%;
    height: 100%;
}

.offerts-1-col{
    height: 100%;
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img{
        width: 80%;
        height: 80%;
    }
    h1{
        font-size: 50px;
        font-family: $font-main;
        color: $color-dark;
        font-weight: lighter;
    }
    p{
        font-size: 18px;
        font-family: $font-main;
        color: $color-dark;
        line-height: 1.6;
    }
    .link{
        justify-content: flex-start;
    }
}
.offerts-1-photo{
    align-items: center;
}

/* Offerts-2 */

